*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    color: white;
    font-family: 'Open Sans', sans-serif;
}
body{
    overflow-x: hidden;
}
html{
    scroll-behavior: smooth;
}
/* -------------------------------------------------Header and Logo------------------------------------------------- */
.header{
    width: 100%;
    height: 80px;
    background: #101010;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(238,159,13);
    z-index: 10000;
}
.inner-logo img{
    height: 75px;
    margin: 0 40px 0 20px;
}

/* -------------------------------------------------the search bar ------------------------------------------*/

.inner-search{
    display: flex;
    justify-content:flex-end;
    flex: 0.7;
    padding: 5px;
}
.inner-search input{
    flex: 1 1 0px;
    width: 200px;
    background: white;
    border: 2px solid rgb(238,159,13);
    font-size: 18px;
    border-radius: 40px;
    color: black;
    outline: none;
    padding: 0 10px;
}
.inner-search a{
    cursor: pointer;
    margin-left: -50px;
}
.inner-search .fa-search{
    background: rgb(238,159,13);
    border-radius: 50%;
    padding:10px;
    margin: 5px 0;
    font-size: 1.2em;
    color: #101010;
    cursor: pointer;
}

/* -------------------------------------------------the header list------------------------------------------------- */
.inner-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 2;
}
.inner-list ul{
    display: flex;
    list-style: none;
    margin-right: 40px;
}
.inner-list ul li{
    font-size: 15px;
    margin: 0 3px;
}
.inner-list ul:last-child{
    margin-left: auto;
}
.inner-list a, #login{
    text-decoration: none;
    padding:13px 25px;
    transition: 0.4s;
    color: white;
}
.inner-list ul li a:hover{
    background: #595353;
    border-radius: 3px;
    border-bottom: 2px solid rgb(238,159,13);
}
.inner-list a:active{
    color: rgb(238,159,13);
    transition: 0s;
}
.links:nth-child(4){
    margin-right: 50px;
}
.current{
    background: #595353;
    border-radius: 3px;
    border-bottom: 2px solid rgb(238,159,13);
    text-shadow: 0 0 0.3em rgb(238, 159, 13), 0 0 0.125em currentColor;
}
/* -------------------------------------------------sign up button -------------------------------------------------*/
#login{
    letter-spacing: 2px;
    color: #101010;
    background: rgb(238,159,13);
    border-radius: 12px;
}
#login:hover{
    color: white;
    border-bottom: none;
}

/*------------------------------------------------- making the First background------------------------------------------------- */


.banner{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9, 30, 0.7),rgba(4, 9, 30, 0.7)),url(backgroudns/background1.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    text-align: left;
}

.middle{
    width: 90%;
    display: flex;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}
.midtext h1{
    font-size: 62px;
    color: rgb(238, 159, 13);
    margin-bottom: 10px;
}
.midtext{
    flex: 0 1 100%;
}
.long-txt{
    color: #777;
    font-size: 14px;
    margin-bottom: 50px;
    width: 50%;
}
.short-txt{
    margin-bottom: 20px;
    font-size: 20px;
}

.inner-list .fas,.header .fa-bars{
    display: none;
}   
.s1{
    text-decoration: none;
    padding:20px 40px 20px 21px;
    background: #3a3a3a;
    color: rgb(238, 159, 13);
    clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
    cursor: pointer;
    transition: all 0.5s;
}
.s2{
    text-decoration: none;
    padding:20px 60px;
    background: rgb(238, 159, 13);
    color: #3a3a3a;
    margin-left: -40px;
    clip-path: polygon(100% 0, 80% 50%, 100% 100%, 0 100%, 23% 0);
    cursor: pointer;
    transition: all 0.5s;
}
.starting-links:hover{
    color: white;
}
.s1:active, .s2:active, .latest-links:active, #login:active{
    text-shadow: 0 0 0.5em greenyellow;
    transition: 0s;
}
/* -------------------------------------------------Latest Books section------------------------------------------------- */
.latest-area{
    width: 90%;
    height: auto;
    margin: auto;
    text-align: center;
    margin-top: 5vh;
}
.latest-area p, .slides-area p{
    line-height: 33px;
    color: #777;
    margin-bottom: 45px;
}
.latest-area h2, .slides-area h2, .rate-area h2, .aboutus h2{
    font-size: 44px;
    color: rgb(238, 159, 13);
    margin-bottom: 25px;
    padding-top: 30px;
}
.row{
    display: flex;
    justify-content: space-between;
    justify-content: center;
    flex-wrap: wrap;
}
.latest-col{
    height: 500px;
    width: 350px;
    margin: 0 10px 30px 10px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    -webkit-box-shadow: 8px -6px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 8px -6px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 8px -6px 5px 0px rgba(50, 50, 50, 0.75);
}
.latest-col > img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.story{
    border-radius: 10px;
    background: transparent;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.latest-links:hover{
    background: #3a3a3a;
    color: rgb(238, 159, 13);
}
.latest-links{
    color: #101010;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #101010;
    padding: 10px 13px;
    background: transparent;
    cursor: pointer;
    position: relative;
    transition: all 0.5s;
    border-radius: 5px;
    margin-top: 30px;
    background: rgba(255, 255, 255,0.6);
    font-size: 13px;
    transform: translate(-50%,-50%);
    left: 50%;
}
.story:hover{
    background:rgba(0,0,0,0.8);
}
.story p{
    color: #fff;
    width: 100%;
    font-size: 13px;
    position: absolute;
    opacity: 0;
    top: 100%;
    transition:all 1.1s;
    padding: 10px;
    text-align:justify;
    line-height: 2.3em;
}
.story:hover p{
    top: 0;
    opacity: 1
}
/* -------------------------------------------------  Slides section  -------------------------------------------------  */
.slide-container{
    min-height: 105vh;
    background: #101010;
    padding-top: 5vh;
}
.slides-area{
    width: 80%;
    margin: auto;
    text-align: center;
    overflow: hidden;
}
.slider{
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 15s slide infinite;
}
.slider img{
    border-radius: 5px;
    width: 20%;
    float: left;
    height: 500px;
    border-bottom: 3px solid rgb(238, 159, 13);
}
.slider img::after{
    content: "";
    clear: both;
}
/* ------------------------------------------------- about us section ------------------------------------------------- */

.aboutus{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
}

.about-area{
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 5vh;
}
.container{
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card{
    position: relative;
    width: 300px;
    height: 425px;
    background: #000000;
    margin: 20px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}

.circle{
    position: relative;
    width: 100%;
    height: 100%;
    background: #000;
    clip-path: circle(180px at center 0);
    text-align: center;
}

.circle h2{
    color: #fff;
    font-size: 4.5em;
    padding: 30px 0;
}

.content{
    position: absolute;
    bottom: 10px;      
    text-align: center;
    padding: 20px;
}

.aboutus .content p{
    color: #eeff00;
    padding: 30px;
    text-transform: capitalize;
    display: inline-block;
}

.aboutus a{
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    text-decoration: none;
    margin-top: 20px;
}
/* This is for The color of circle & Read More */
.card:nth-child(1) .circle,
.card:nth-child(1) .content a{
    background: #00f70c;
    transition: 0.5s;
}
.card:nth-child(2) .circle,
.card:nth-child(2) .content a{
    background: #251bac;
    transition: 0.5s;
}

.card:nth-child(3) .circle,
.card:nth-child(3) .content a{
    background: #ac551b;
    transition: 0.5s;
}

.card:nth-child(4) .circle,
.card:nth-child(4) .content a{
    background: #b9425c;
    transition: 0.5s;
}

.card:nth-child(5) .circle,
.card:nth-child(5) .content a{
    background: #9309b6;
    transition: 0.5s;
}

.card:nth-child(6) .circle,
.card:nth-child(6) .content a{
    background: #5c5c5c;
    transition: 0.5s;
}

.card:nth-child(7) .circle,
.card:nth-child(7) .content a{
    background: #1b7eac;
    transition: 0.5s;
}

.card:nth-child(8) .circle,
.card:nth-child(8) .content a{
    background: #e448c2;
    transition: 0.5s;
}

.card:nth-child(9) .circle,
.card:nth-child(9) .content a{
    background: #349a3a;
    transition: 0.5s;
}

.card:nth-child(10) .circle,
.card:nth-child(10) .content a{
    background: #db4ddb;
    transition: 0.5s;
}

/* This is for Zooming in The Card  */

.card:hover{
    transform: scale(1.1);
}

/* This is for hover On Read More */

.card:nth-child(1) a:hover{
    background-color: #FF3B8B;
    color: #000;
}

.card:nth-child(2) a:hover{
    background: #FFE03B;
    color: #000000;
}

.card:nth-child(3) a:hover{
    background: #1FE4F0;
    color: #000;
}

.card:nth-child(4) a:hover{
    background: #3BFF5A;
    color: #000;
}

.card:nth-child(5) a:hover{
    background: #bfcf28;
    color: #000;
}

.card:nth-child(6) a:hover{
    background: #87A890;
    color: #000;
}

.card:nth-child(7) a:hover{
    background: #00ABFA;
    color: #000;
}

.card:nth-child(8) a:hover{
    background: #38AB1B;
    color: #000;
}

.card:nth-child(9) a:hover{
    background: #E34984;
    color: #000;
}

.card:nth-child(10) a:hover{
    background: #FA00FA;
    color: #000;
}
                                                                                /* This Is For Box-Shadow */                                                

.box-shadow1:hover{
    box-shadow:  0 0 50px #FF3B8B,
    0 0 30px #FF3B8B,
    0 0 20px #FF3B8B,
    0 0 10px #FF3B8B;
    background-color: #FF3B8B;
}

.box-shadow2:hover{
    box-shadow:  0 0 50px #FFE03B,
    0 0 30px #FFE03B,
    0 0 20px #FFE03B,
    0 0 10px #FFE03B;
    background-color: #FFE03B;
}

.box-shadow3:hover{
    box-shadow:  0 0 50px #1FE4F0,
    0 0 30px #1FE4F0,
    0 0 20px #1FE4F0,
    0 0 10px #1FE4F0;
    background-color: #1FE4F0;
}

.box-shadow4:hover{
    box-shadow:  0 0 50px #3BFF5A,
    0 0 30px #3BFF5A,
    0 0 20px #3BFF5A,
    0 0 10px #3BFF5A;
    background-color: #3BFF5A;
}

.box-shadow5:hover{
    box-shadow:  0 0 50px #9DF01F,
    0 0 30px #9DF01F,
    0 0 20px #9DF01F,
    0 0 10px #9DF01F;
    background-color: #9DF01F;
}

.box-shadow6:hover{
    box-shadow:  0 0 50px #87A890,
    0 0 30px #87A890,
    0 0 20px #87A890,
    0 0 10px #87A890;
    background-color: #87A890;
}

.box-shadow7:hover{
    box-shadow:  0 0 50px #00ABFA,
    0 0 30px #00ABFA,
    0 0 20px #00ABFA,
    0 0 10px #00ABFA;
    background-color: #00ABFA;
}

.box-shadow8:hover{
    box-shadow:  0 0 50px #38AB1B,
    0 0 30px #38AB1B,
    0 0 20px #38AB1B,
    0 0 10px #38AB1B;
    background-color: #38AB1B;
}

.box-shadow9:hover{
    box-shadow:  0 0 50px #E34984,
    0 0 30px #E34984,
    0 0 20px #E34984,
    0 0 10px #E34984;
    background-color: #E34984;
}

.box-shadow10:hover{
    box-shadow:  0 0 50px #FA00FA,
    0 0 30px #FA00FA,
    0 0 20px #FA00FA,
    0 0 10px #FA00FA;
    background-color: #FA00FA;
}
/* ------------------------------------------------- Rate us section ------------------------------------------------- */
.rate-area{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    background: #333333;
}
.rate-area h2{
    margin: 36px 30px 0 0;
    color: #B75B25;
}
.rate-area .container{
    margin: 50px 0;
    position: relative;
    width: 400px;
    background: #111;
    padding: 20px 30px;
    border: 1px solid #B75B25;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.rate-area .container .post{
    display: none;
}
.rate-area .container .text{
    font-size: 25px;
    color: #666;
    font-weight: 500;
}
.rate-area .container .edit{
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 16px;
    color: #666;
    font-weight: 500;
    cursor: pointer;
}
.rate-area .container .edit:hover{
    text-decoration: underline;
}
.rate-area .container .star-widget input{
    display: none;
}
.star-widget label{
    font-size: 40px;
    color: #444;
    padding: 10px;
    float: right;
    transition: all 0.2s ease;
}
input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label{
    color: #fd4;
}
input:checked ~ label{
    color: #fd4;
}
input#rate-5:checked ~ label{
    color: #fe7;
    text-shadow: 0 0 20px #952;
}
#rate-1:checked ~ form header:before{
    content: "I just hate it 😠";
}
#rate-2:checked ~ form header:before{
    content: "I don't like it 😒";
}
#rate-3:checked ~ form header:before{
    content: "It is awesome 😄";
}
#rate-4:checked ~ form header:before{
    content: "I just like it 😎";
}
#rate-5:checked ~ form header:before{
    content: "I just love it 😍";
}
.container form{
    display: none;
}
input:checked ~ form{
    display: block;
}
form header{
    width: 100%;
    font-size: 25px;
    color: #fe7;
    font-weight: 500;
    margin: 5px 0 20px 0;
    text-align: center;
    transition: all 0.2s ease;
}
form .textarea{
    height: 100px;
    width: 100%;
    overflow: hidden;
}
form .textarea textarea{
    height: 100%;
    width: 100%;
    outline: none;
    color: #eee;
    border: 1px solid #333;
    background: #222;
    padding: 10px;
    font-size: 17px;
    resize: none;
}
.textarea textarea:focus{
    border-color: #444;
}
form .btn{
    height: 45px;
    width: 100%;
    margin: 15px 0;
}
form .btn button{
    height: 100%;
    width: 100%;
    border: 1px solid #444;
    outline: none;
    background: #222;
    color: #999;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
}
form .btn button:hover{
    background: #1b1b1b;
}
/* ------------------------------------------------- Footer area ------------------------------------------------- */
footer{
    background: #111111;
    min-height: 50vh;
    border-top: 1px groove #B75B25;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.footer-logo img{
    height: 75px;
    cursor: pointer;
}
.upper-footer-list ul, .lower-footer-list ul{
    list-style: none;
    display: flex;
    justify-content: center;
}
.upper-footer-list ul li, .lower-footer-list ul li{
    margin: 20px 15px 50px;
    text-transform: uppercase;
}
.upper-footer-list a{
    cursor: pointer;
    text-decoration: none;
    color: #808071;
    transition: all 250ms linear;
    display: block;
    padding: 0px;
    font-weight: 800;
    font-size: 12px;
    letter-spacing: .1em;
}
.upper-footer-list a:hover{
    color: white;
}
.footer-logo{
    margin-top: -25px;
    height: auto;
    width: auto;
    opacity: 0.7;
}
.lower-footer-list i{
    text-align: center;
    width: 30px;
    padding: 6px 0;
    background: #fff;
    margin: 15px 0 30px;
    cursor: pointer;
    color: #111111;
    font-size: 17px;
    opacity: 0.3;
    border-radius: 50%;
    transition: all 250ms linear;
}
.lower-footer-list i:hover{
    opacity: 1;
}
.rights p{
    color: #808071;
    font-size: 13px;
    font-weight: 800;
    letter-spacing: 0.08em;
    line-height: 130%;
    margin-bottom: 30px;
}

/*------------------------------------------------- for small screens styling -------------------------------------------------*/

@media(max-width: 1030px) and (hover:hover){

    /*------------------------------------------------- list for small screens------------------------------------------------- */
    .inner-list ul{
        display: inline-block;
        list-style: none;
        margin-right: 0;
        padding-top: 50px;
        width: 100%;
    }
    .links:nth-child(4){
        margin-right: 0px;
    }
    .inner-list ul li{
        display: block;
        padding-top: 30px;
        padding-bottom: 30px;
        margin: -1px;
    }
    .inner-list ul li a{
        color: #101010;
    }
    .inner-list .current{
        background: none;
        border-bottom: none;
        color:#fff;
    }
    .inner-list{
        position: absolute;
        background:rgb(238, 159,13);
        height: 100vh;
        width: 200px;
        top:0;
        right: -200px;
        text-align: center;
        z-index: 2;
        transition: 1s;
        border-left: 2px solid #101010;
        border-bottom: 2px solid #101010;
    }

    /* -------------------------------------------------border bottom for all li except signup -------------------------------------------------*/
    .links{
        border-bottom:  2px solid #101010;
    }

    /* -------------------------------------------------signup for small screens -------------------------------------------------*/
    #login{
        color: white;
        background: #101010;
        border-radius: 12px;
        margin-left: 0;
        margin-right: 0;
    }
    #login:hover{
        color: rgb(238, 159,13);
    }
    /*------------------------------------------------- Animation for small screens -------------------------------------------------*/


    .inner-list ul li a:hover{
        color: white;
        background: none;
        border-radius: 0;
        border-bottom: none;
    }
    .inner-list .fas{
        display: block;
        position: absolute;
        right: 80%;
        padding: 10px;
        color: #101010;
        font-size: 22px;
        cursor: pointer;
    }
    .header .fa-bars{
        display: block;
        padding: 40px;
        color: rgb(238, 159, 13);
        font-size: 22px;
        cursor: pointer;
    }
    .header .fa-bars:hover,.inner-list .fas:hover{
        font-size: 25px;
        transition: 0.3s;
    }
    .current{
        text-shadow: 0 0 0.4em #101010, 0 0 0.125em currentColor;
    }
    /* ------------------------------------------------- size for img and text ------------------------------------------------- */
    .slider img{
        height: 350px;
    }
    .long-txt{
        width: 75%;
    }
    .slides-area h2, .deals-area h2{
        font-size: 35px;
    }
    .slide-container{
        min-height: 90vh;
    }
}
@media (max-width:340px){
    .story p{
        font-size: 9px;
    }
    .deals-links{
        padding: 2px;
        font-size: 9px;
    }
}
/* media for footer  */
@media (max-width:500px){
    .upper-footer-list ul{
        flex-direction: column;
    }
}

/* -------------------------------------------- Keyframes-------------------------------------------- */

@keyframes slide{
    0%{
        left: 0;
    }
    20%{
        left: 0;
    }
    25%{
        left:-100%;
    }
    45%{
        left: -100%;
    }
    50%{
        left: -200%;
    }
    70%{
        left: -200%;
    }
    75%{
        left: -300%;
    }
    95%{
        left: -300%;
    }
    100%{
        left: -400%;
    }
}