html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body{
    overflow-x: hidden;
    background-color: #101010;
}body{
    overflow-x: hidden;
}
/* -------------------------------------------------Header and Logo------------------------------------------------- */
.header{
    width: 100%;
    height: 80px;
    background: #101010;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(238,159,13);
}

.inner-logo {
    margin-left: 20px;
}

.inner-logo img{
    width: auto;
    height: 75px;
}

/* -------------------------------------------------the search bar ------------------------------------------*/

.inner-search{
    display: flex;
    justify-content:flex-end;
    flex: 0.7;
    padding: 5px;
    margin-left: 40px;
}
.inner-search input{
    flex: 1 1 0px;
    width: 200px;
    background: white;
    border: 2px solid rgb(238,159,13);
    font-size: 18px;
    border-radius: 40px;
    color: black;
    outline: none;
    padding: 0 10px;
}
.inner-search a{
    border-radius: 50%;
    cursor: pointer;
    border-left: none;
    margin-left: -50px;
}
.inner-search .fa-search{
    background: rgb(238,159,13);
    border-radius: 50%;
    padding:10px;
    margin: 5px 0;
    font-size: 1.2em;
    color: #101010;
    cursor: pointer;
    z-index: 1;
}


/*  -------------------------------------------------footer------------------------------------------------- */
footer{
    margin-top: 50px;
}

footer p{
    display: block;
    position: absolute;
    left: 20px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.08em;
    line-height: 130%;
    font-size: 9.20px;
    color: #808071;
}

/* -------------------------------------------------the header list------------------------------------------------- */
.inner-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 2;
}
.inner-list ul{
    display: flex;
    list-style: none;
    margin-right: 40px;
}
.inner-list ul li{
    font-size: 15px;
    margin: 0 3px;
}
.inner-list ul:last-child{
    margin-left: auto;
}
.inner-list a, #login{
    text-decoration: none;
    padding:13px 25px;
    transition: 0.4s;
    color: white;
}
.inner-list ul li a:hover{
    background: #595353;
    border-radius: 3px;
    border-bottom: 2px solid rgb(238,159,13);
}
.inner-list a:active{
    color: rgb(238,159,13);
    transition: 0.1s;
}
.links:nth-child(3){
    margin-right: 50px;
}
.current{
    background: #595353;
    border-radius: 3px;
    border-bottom: 2px solid rgb(238,159,13);
}
/* -------------------------------------------------login button -------------------------------------------------*/
#login{
    letter-spacing: 2px;
    color: #101010;
    background: rgb(238,159,13);
    border-radius: 12px;
}
#login:hover{
    color: white;
    border-bottom: none;
}

#login:active{
    text-shadow: 0 0 0.5em greenyellow;
    transition: 0s;
}

.inner-list .fas,.header .fa-bars{
    display: none;
}

.current{
    background: #595353;
    border-radius: 3px;
    border-bottom: 2px solid rgb(238,159,13);
    text-shadow: 0 0 0.3em rgb(238, 159, 13), 0 0 0.125em currentColor;
}
/*------------------------------------------------- for small screens styling -------------------------------------------------*/

@media(max-width: 1060px) and (hover:hover){

    /*------------------------------------------------- list for small screens------------------------------------------------- */
    .inner-list ul{
        display: inline-block;
        list-style: none;
        margin-right: 0;
        padding-top: 50px;
        width: 100%;
    }
    .links:nth-child(3){
        margin-right: 0px;
    }
    .inner-list ul li{
        display: block;
        padding-top: 30px;
        padding-bottom: 30px;
        margin: -1px;
    }

    .inner-list .current{
        background: none;
        border-bottom: none;
        color:#fff;
    }
    .inner-list ul li a{
        color: #101010;
    }
    .inner-list .current{
        background: none;
        border-bottom: none;
        color:#fff;
    }
    .inner-list{
        position: absolute;
        background:rgb(238, 159,13);
        height: 100vh;
        width: 200px;
        top:0;
        right: -200px;
        text-align: center;
        z-index: 2;
        transition: 1s;
        border-left: 2px solid #101010;
        border-bottom: 2px solid #101010;
    }

    

    /* -------------------------------------------------border bottom for all li except signup -------------------------------------------------*/
    .links{
        border-bottom:  2px solid #101010;
    }

    /* -------------------------------------------------signup for small screens -------------------------------------------------*/


    #login{
        color: white;
        background: #101010;
        border-radius: 12px;
        margin-left: 0;
        margin-right: 0;
    }
    #login:hover{
        color: rgb(238, 159,13);
    }

    /*------------------------------------------------- Animation for small screens -------------------------------------------------*/


    #login:active{
        text-shadow: 0 0 0.5em greenyellow;
        transition: 0s;
    }

    .inner-list ul li a:hover{
        color: white;
        background: none;
        border-radius: 0;
        border-bottom: none;
    }
    .inner-list .fas{
        display: block;
        position: absolute;
        right: 80%;
        padding: 10px;
        color: #101010;
        font-size: 22px;
        cursor: pointer;
    }
    .header .fa-bars{
        display: block;
        padding: 40px;
        color: rgb(238, 159, 13);
        font-size: 22px;
        cursor: pointer;
    }
    .header .fa-bars:hover,.inner-list .fas:hover{
        font-size: 25px;
        transition: 0.3s;
    }
    .current{
        text-shadow: 0 0 0.4em #101010, 0 0 0.125em currentColor;
    } 

    footer p{left: 0px;}
    footer{margin-left: 0;}
}
