*
{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;font-family: 'Open Sans', sans-serif;
}
body
{
    color: #fff;
    overflow-x: hidden;
}

/* --------------------------------------------------------------Login-------------------------------------------------------------- */
.maincontainer{
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 115vh;
    background-image: linear-gradient(rgba(4,9, 30, 0.7),rgba(4, 9, 30, 0.7)),url(image/dewang-gupta-wQIjxPeHhp0-unsplash.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    text-align: justify;
}
.home-logo{
    position: absolute;
    left: 30px;
    top: 20px;
}
.home-logo img{
    height: 75px;
    cursor: pointer;
}
.background
{
    border: 2px solid rgb(238, 159, 13);
    position: relative;
    padding: 10px;
    width: 380px;
    min-height: 510px;
    background: #101010;
    border-radius: 20px;
    text-align: center;
}
.circle
{
    margin: auto;
    background-color: indianred;
    width: 180px;
    height: 180px;
    border: 3px solid #fff;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
}
.circle img
{
    width: 180px;
}
.background h2
{
    letter-spacing: 3px;
    padding: 20px 0;
    font-size: 30px;
    color: indianred;
}
.background .input
{
    width: 63%;
    border: 0;
    background: none;
    text-align: center;
    margin: 10px auto;
    border: 2px solid indianred;
    padding: 14px 10px;
    outline: none;
    border-radius: 10px;
    color:white;
    transition: 0.25s;
    display: block;
}
.background .input:focus,.background .input:hover
{
    width: 84%;
    border-color: #2ecc70;
    border-radius: 24px;
}
.background .login
{
    width: 45%;
    border: 0;
    background: none;
    text-align: center;
    margin: 10px auto;
    border: 2px solid  #2ecc70;
    padding: 14px 40px;
    outline: none;
    border-radius: 24px;
    color:white;
    transition: 0.25s; 
    cursor: pointer;  
}
.background .login:hover
{
    background:  #2ecc70;
}
.background span ,.background a
{
    font-size: 15px;
    color: grey;
}
.background a:hover
{
    color: indianred;
}
/*---------------------------------------------- the footer ---------------------------------------------- */

footer p{
    display: block;
    position: absolute;
    left: 20px;
    bottom: 15px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.08em;
    line-height: 130%;
    font-size: 9.20px;
    color: #808071;
}

/* ---------------------------------------------- for small screens ----------------------------------------------  */

@media(max-width:600px){
    .background{
        width: 70%;
    }
    .background .input{
        width: 70%;
    }
    .background .login{
        width: 70%;
        padding:10px;
    }
    .background .input:hover,.background .input:focus{
        width: 75%;
    }
    .background input[type=email]{
        width: 70%;
    }
    .circle{
        width: 40%;
    }
    .circle img{
        width: 90%;
    }
    .background h2{
        font-size: 20px;
        padding: 10px 0;
    }
}